<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="/assets/jquery/jquery.min.js")
    script(src="/assets/bootstrap/js/bootstrap.min.js")

    link(rel="stylesheet", href="/assets/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/assets/css/site.css")

    title ほげほげのブログ
  body
    h1 ほげほげのブログ
    hr
    div(class="container")
      div(class="row")
        div(class="col-md-6")
          figure
            img(src="/assets/images/image.jpg", alt="さかな" class="img-fluid")
            figcaption おさかな
        div(class="col-md-6")
          h3 記事一覧
          div
            div(class="card panel-default")
              div(class="card-header") 犬の世話
              div(class="card-body")
                p 今日は犬の散歩をした.
            div(class="card panel-default")
              div(class="card-header") 今日の晩御飯
              div(class="card-body")
                p 今日はカレーを食べた.
            div(class="card panel-default")
              div(class="card-header") 寝坊
              div(class="card-body")
                p 今日は寝坊をした.
